@font-face {
	font-family: "icon-close";
	src: url("../fonts/icon-close.eot?4z2zag");
	src: url("../fonts/icon-close.eot?4z2zag#iefix") format("embedded-opentype"),
		url("../fonts/icon-close.ttf?4z2zag") format("truetype"), url("../fonts/icon-close.woff?4z2zag") format("woff"),
		url("../fonts/icon-close.svg?4z2zag#icon-close") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icons__"]::before,
[class*=" icons__"]::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icon-close" !important;
	speak-as: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icons__close:before {
	content: "\e900";
}
