.page-header {
	position: relative;
	border-bottom: 1px solid #ececec;

	&__container {
		display: flex;
		align-items: center;

		@media screen and (max-width: 767px) {
			justify-content: space-between;
			min-height: 60px;
		}
	}
}

.menu {
	flex-grow: 1;
	@media screen and (max-width: 767px) {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		padding: 48px 40px;

		background-color: var(--third-text-color);

		&.is-open {
			display: block;
		}
	}
	@media screen and (min-width: $tablet) {
		display: flex;
		align-items: center;
	}
}

.menu__button-burger,
.menu__button-close {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;

	transition: fill var(--transition-duration) var(--timing-function);

	@media screen and (min-width: $tablet) {
		display: none;
	}
	&:hover,
	&:focus {
		fill: var(--accent-color);
	}
}

.menu__button-close {
	position: absolute;
	top: 10px;
	right: 15px;
}

.site-nav__list {
	@media screen and (max-width: 767px) {
		margin-bottom: 302px;
	}

	@media screen and (min-width: $tablet) {
		display: flex;
		align-items: center;
	}
}

.site-nav__item {
	@media screen and (min-width: $tablet) {
		position: relative;
		padding-top: 32px;
		padding-bottom: 32px;
	}
}

.site-nav__item:not(:last-child) {
	@media screen and (max-width: 767px) {
		margin-bottom: 32px;
	}

	@media screen and (min-width: $tablet) {
		margin-right: 50px;
	}
}

.site-nav__link {
	font-weight: 500;
	font-size: 40px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--primery-text-color);

	transition: color var(--transition-duration) var(--timing-function);

	&:focus {
		color: var(--accent-color);
	}

	@media screen and (min-width: $tablet) {
		font-size: 14px;
		line-height: 1.14;
	}
}

.site-nav__link--current {
	@media screen and (min-width: $tablet) {
		color: var(--accent-color);

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 4px;
			background-color: var(--accent-color);
			border-radius: 2px;
		}
	}
}

// /* --------CONTACTS------- */

.contacts {
	@media screen and (max-width: 767px) {
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 64px;
	}
	@media screen and (min-width: $tablet) and (max-width: 1199px) {
		margin-left: auto;
	}
	@media screen and (min-width: $desktop) {
		display: flex;
		align-items: center;
		margin-left: auto;
	}
}

.contacts__icon {
	@media screen and (max-width: 767px) {
		display: none;
	}
	@media screen and (min-width: $tablet) {
		margin-right: 8px;
		fill: currentColor;
	}

	@media screen and (min-width: $desktop) {
		margin-right: 10px;
	}
}

.contacts__item {
	&:first-child {
		@media screen and (max-width: 767px) {
			margin-top: 32px;
		}
		@media screen and (min-width: $tablet) and (max-width: 1199px) {
			margin-bottom: 10px;
		}
	}

	@media screen and (min-width: $desktop) {
		margin-right: 30px;
	}
}

.contacts__link {
	font-weight: 500;
	font-size: 24px;
	line-height: 1.16;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color);

	&--tel {
		@media screen and (max-width: 767px) {
			font-size: 34px;
			line-height: 1.17;
			color: var(--accent-color);
		}
	}

	@media screen and (min-width: $tablet) {
		font-size: 12px;

		transition: color var(--transition-duration) var(--timing-function),
			fill var(--transition-duration) var(--timing-function);

		&:hover,
		&:focus {
			color: var(--accent-color);
			fill: var(--accent-color);
		}

		@media screen and (min-width: $desktop) {
			padding-top: 32px;
			padding-bottom: 32px;
			display: flex;
			align-items: center;

			font-size: 14px;
			line-height: 1.14;
		}
	}
}

.header-social {
	display: flex;
	align-items: center;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		border-right: none;
	}

	&__item {
		padding-right: 10px;
		padding-left: 10px;
		border-right: 1px solid rgba(33, 33, 33, 0.2);
	}

	&__item:first-child {
		padding-left: 0;
	}

	&__item:last-child {
		border-right: none;
	}

	&__link {
		font-weight: 500;
		font-size: 18px;
		line-height: 1.22;
		letter-spacing: 0.02em;
		color: var(--accent-color);
	}

	@media screen and (min-width: $tablet) {
		display: none;
	}
}
