:root {
	--primery-text-color: #212121;
	--secondary-text-color: #757575;
	--third-text-color: #ffffff;
	--accent-color: #2196f3;
	--footer-background-color: #2f303a;
	--secondary-background-color: #f5f4fa;
	--third-background-color: #2f303a;
	--icon-color: #afb1b8;
	--transition-duration: 250ms;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
